@font-face{
    font-family:'Fira Sans';
    src:
    local("Fira Sans Light"),
    url("fonts/FiraSans-Light.eot") format("embedded-opentype"),
    url("fonts/FiraSans-Light.woff") format("woff2"),
    url("fonts/FiraSans-Light.ttf") format("truetype"),
    url("fonts/FiraSansOT-Light.otf") format("opentype"),
    ;
}

@font-face{
    font-family:'Fira Mono';
    src:
    local("Fira Mono Regular"),
    url("fonts/FiraMono-Regular.eot") format("embedded-opentype"),
    url("fonts/FiraMono-Regular.woff") format("woff"),
    url("fonts/FiraMono-Regular.woff2") format("woff"),
    url("fonts/FiraMono-Regular.ttf") format("truetype");
}

.here-map body {
    font-family:'Fira Sans', "Lucida Grande",Tahoma,sans-serif;
    color: #0f1621;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

.here-map .nomargin{
    margin:0;
}
.here-map .table td{
    vertical-align:middle !important;
}
.here-map .page-header{
    border-bottom: 1px solid rgb(238, 238, 238);
}
.here-map .page-header div.thumbnail{
    display:none;
}
.here-map #copy-btn{
    line-height:1.4;
}
.here-map #params input.form-control{
    background:#fff url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnIGlkPSJYTUxJRF8xXyI+Cgk8cmVjdCBmaWxsPSIjYmFiY2M0IiBmaWxsLW9wYWNpdHk9IjAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIvPgoJPHBhdGggZmlsbD0iI2JhYmNjNCIgZD0iTTE5LjI5OCw2LjIyMWwtMS41MjEtMS41MTljLTAuMzUxLTAuMzQ3LTAuOTItMC4zNDctMS4yNjYsMGwtMC42MzUsMC42MzRsMi43ODYsMi43ODRsMC42MzQtMC42MzIgQzE5LjY0Niw3LjE0LDE5LjY0Niw2LjU2OCwxOS4yOTgsNi4yMjF6IE01LjExOSwxNi4wOTZsLTAuOTA1LDMuMzcyYy0wLjA2MiwwLjIzOCwwLjA4LDAuMzgyLDAuMzE4LDAuMzE3bDMuMzcyLTAuOTA0bDkuODc1LTkuODc0IGwtMi43ODYtMi43ODZMNS4xMTksMTYuMDk2eiIvPgo8L2c+Cjwvc3ZnPgo=') no-repeat right 5px
}
.here-map #params input.form-control:focus{
    background-image:none;
    padding-right:12px;
}
.here-map #params input.disabled,.here-map #params input:disabled{
    background:#babcc4;
}
.here-map #params td:first-child{
    min-width:120px;
}
.here-map #params input.disabled:focus{
    box-shadow:none;
    border:1px solid #cdced0;
}
.here-map #image-response{
    border:1px solid #cdced0;
    background:#e4e6e9;
    padding:15px;
    border-radius:4px;
}
.here-map #image-response img{
    max-width:100%;
    background-color:#e4e6e9;
    background-image:linear-gradient(45deg, #c0c0c0 25%,transparent 25%,transparent 75%,#c0c0c0 75%,#c0c0c0),linear-gradient(45deg, #c0c0c0 25%,transparent 25%,transparent 75%,#c0c0c0 75%,#c0c0c0);
    background-size:20px 20px;
    background-position:0 0,30px 30px;
}
.here-map .no-border{
    border:none;
}
.here-map #url-path{
    font-size:x-small;
    word-wrap:break-word;
}

.here-map .tooltip.in{
    opacity:1;
    filter:alpha(opacity=100);
}
.here-map .tooltip-inner{
    background-color:rgba(15,22,33,0.9);
    color:#fff;
    text-align:left;
    padding:20px;
    white-space:normal;
}
.here-map .white{
    background-color:inherit;
}
.here-map section.param-section{
    border-bottom:1px solid #e4e6e9;
    display:none;
}
.here-map label.param-label{
    font-weight:normal;
}
@media (min-width: 992px){
    .here-map .sel-md-10{
        max-width:178px;
    }
}
@media (min-width: 1200px){
    .here-map .sel-md-10{
        max-width:250px;
    }
}
.here-map .container{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    padding-left:0;
    padding-right:0;
    margin-right:inherit;
    margin-left:0px !important;
    width:100%;
}
.here-map .container p{
    max-width:640px;
    text-rendering:optimizeLegibility;
}
.here-map .row{
    margin-right:0;
    margin-left:0;
}
.here-map .nav-pills>li>a{
    border-radius:0;
    background-color:#383c45;
    color:#babcc4
}
.here-map .nav-pills>li>a:hover{
    background-color:#383c45;
}
.here-map .nav-pills>li+li{
    margin-left:0;
}
.here-map .nav-pills>li{
    margin-right:1px;
}
.here-map .nav-pills>li.active>a,.here-map .nav-pills>li.active>a:focus,.here-map .nav-pills>li.active>a:hover{
    color:#fff;
    background-color:#1d232d;
}
.here-map .nav-pills>li>a:hover{
    color:#3d73d0;
}
.here-map .thumbnail>img,.here-map .thumbnail a>img{
    height:60px;
    width:60px;
}
.here-map #map .btn-group{
    background-color:transparent !important;
}
.here-map .btn-sm{
    font-size:14px;
    line-height:18px;
    border-radius:2px !important;
    box-sizing:border-box;
    padding:10px 16px !important;
}
.here-map .btn-primary{
    color: #fff !important;
    background-color: #77a0e7 !important;
    border-color: #77a0e7 !important;
}
.here-map .btn-primary:hover,
.here-map .btn-primary:focus,
.here-map .btn-primary:active,
.here-map .open>.dropdown-toggle.btn-primary{
    background: #3d73d0 !important;
    border-color: #3d73d0 !important;
}
.here-map .btn-primary.disabled,
.here-map .btn-primary[disabled],
.here-map fieldset[disabled] .btn-primary,
.here-map .btn-primary.disabled:hover,
.here-map .btn-primary[disabled]:hover,
.here-map fieldset[disabled] .btn-primary:hover,
.here-map .btn-primary.disabled:focus,
.here-map .btn-primary[disabled]:focus,
.here-map fieldset[disabled] .btn-primary:focus,
.here-map .btn-primary.disabled:active,
.here-map .btn-primary[disabled]:active,
.here-map fieldset[disabled] .btn-primary:active,
.here-map .btn-primary.disabled.active,
.here-map .btn-primary[disabled].active,
.here-map fieldset[disabled] .btn-primary.active{
    background:#babcc4 !important;
    color:#fff !important;
    border-color:#babcc4 !important
}
.here-map body{
    color:#0f1621;
    background-color:transparent;
    font-size:15px;
    line-height:22px;
}

.here-map b,.here-map strong{
    color:#0f1621;
}
.here-map h2,.here-map h3,.here-map h4{
    margin-top:2.5em;
}
.here-map h1{
    margin-top:40px;
    font-size:22px;
    line-height:34px;
    color:#383c45;
}
.here-map h2{
    font-size:18px;
    line-height:28px;
}
.here-map h3,.here-map h4{
    font-size:16px;
    line-height:24px;
}
.here-map .panel{
    background-color:transparent
}
.here-map .panel-body{
    padding:15px 0;
}
.here-map .panel-body>h3,.here-map .panel-header>h3{
    padding:8px 0;
    border-bottom:1px solid #e4e6e9;
}
.here-map code{
    font-family: 'Fira Mono', Courier, monospace;
    color: black;
    font-weight:500;
    background-color:transparent;
}
.here-map code[class*="language-"],.here-map pre[class*="language-"]{
    font-weight:inherit;
}

.here-map a,.here-map a span{
    font-weight:400;
    color: #77a0e7;
    cursor: pointer;
    text-decoration: none;
}
.here-map a:hover,.here-map a span:hover{
    color: #3d73d0;
}


.here-map .token.comment a.highlight-link{
    color:slategrey;
    font-weight:500;
}
.here-map .token.comment a:hover.highlight-link{
    color: #3d73d0;
}
.here-map {
    width:70%;
    border:1px solid #cdced0;
    background-color:#e4e6e9;
	margin: auto;
}
.here-map .panel-side{
    width:35%;
	height:100%;
    overflow:auto;
	float: left;
}
.here-map .panel-bottom{
    width:100%;
	height:0%;
    overflow:auto;
	float: left;
	display: none;
}
.here-map #map{
    width:65%;
	height:100%;
	float: right;
}
.here-map .clear {
	clear: both;
}
.here-map .H_ib_content>div>h1,.here-map .H_ib_content>div>h2,.here-map .H_ib_content>div>h3{
    color:#fff;
}
.here-map #images{
    padding:10px 10px 10px 10px;
    width:100%;
    border:1px solid #cdced0;
    background-color:#e4e6e9;
}
.here-map .embedded-video-frame{
    position:relative;
    padding-top:100%;
    min-height:450px;
}
.here-map .embedded-video-frame iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.here-map img.image-frame{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
.here-map .video-frame{
    padding:10px 10px 10px 10px;
}
.here-map .video-frame div{
    text-align:center;
}
.here-map .video-frame div video{
    max-width:100%;
}
.here-map #collapseIDE{
    height:600px;
    background:inherit;
}
.here-map .code-file{
    max-height:470px;
}
.here-map strong{
    font-weight:500;
}
.here-map .lens-iframe{
    width:100%;
    height:400px;
    border:0;
}
.here-map .thumbnail{
    float:left;
    border:none;
    padding-right:10px;
}
.here-map .datalens-collapsible__expand{
    display:none;
}
.here-map .datalens-collapsible.collapsed .datalens-collapsible__expand,.here-map .datalens-collapsible__collapse{
    display:block;
}
.here-map .datalens-collapsible__panel{
    display:block;
    margin-top:1em;
}
.here-map .datalens-collapsible.collapsed .datalens-collapsible__collapse,.here-map .datalens-collapsible.collapsed .datalens-collapsible__panel{
    display:none;
}
.here-map .lt-download-link-holder{
    float:left;
}
.here-map .nav-pills li.lt-download-link-holder{
    float:right;
}
.here-map .nav-pills li.lt-download-link-holder a{
    background-color:transparent;
    color:#00afaa;
}
.here-map .nav-tabs>li.active>a,.here-map .nav-tabs>li.active>a:hover,.here-map .nav-tabs>li.active>a:focus{
    background-color:transparent;
}
.here-map .input-group{
    padding-bottom:15px;
}
.here-map .form-control,.here-map input[type="text"],.here-map input[type="email"],.here-map textarea{
    -webkit-box-shadow:0 0 0 white;
    -moz-box-shadow:0 0 0 white;
    box-shadow:0 0 0 white;
    border-radius:2px;
    height:40px;
    line-height:22px;
    outline:none;
    padding:0 20px 0 13px;
}
.here-map .form-control:focus,.here-map input[type="text"]:focus,.here-map input[type="email"]:focus,.here-map textarea:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-box-shadow:0 0 0 white;
    -moz-box-shadow:0 0 0 white;
    box-shadow:0 0 0 white;
    border-color:#3d73d0;
    outline:0;
    outline:none;
}
.here-map  .form-control{
    padding-right:24px;
    font-size:13px;
}
@media (min-width: 768px){
    .here-map .col-md-1,
	.here-map .col-md-2,
	.here-map .col-md-3,
	.here-map .col-md-4,
	.here-map .col-md-5,
	.here-map .col-md-6,
	.here-map .col-md-7,
	.here-map .col-md-8,
	.here-map .col-md-9,
	.here-map .col-md-10,
	.here-map .col-md-11,
	.here-map .col-md-12{
        float:left;
    }
    .here-map .col-md-12{
        width:100%;
    }
    .here-map .col-md-11{
        width:91.66667%;
    }
    .here-map .col-md-10{
        width:83.33333%;
    }
    .here-map .col-md-9{
        width:75%;
    }
    .here-map .col-md-8{
        width:66.66667%;
    }
    .here-map .col-md-7{
        width:58.33333%;
    }
    .here-map .col-md-6{
        width:50%;
    }
    .here-map .col-md-5{
        width:41.66667%;
    }
    .here-map .col-md-4{
        width:33.33333%;
    }
    .here-map .col-md-3{
        width:25%;
    }
    .here-map .col-md-2{
        width:16.66667%;
    }
    .here-map .col-md-1{
        width:8.33333%;
    }
    .here-map #request-params tbody tr td{
        position:relative;
        display:block;
    }
    .here-map #request-params tbody tr td:nth-child(1){
        clear:both;
        padding-top:8px;
        padding-bottom:0;
    }
    .here-map #request-params tbody tr td:nth-child(2){
        clear:left;
        float:left;
        border-top:none;
        margin-top:8px;
    }
    .here-map #request-params tbody tr td:nth-child(3){
        float:left;
        border-top:none;
    }
    .here-map #request-params tbody tr:nth-child(1) td:nth-child(1){
        border-top:none;
    }
}
.here-map .datalens-viz{
    border:1px solid #ccc;
    height:300px;
    overflow:hidden;
    position:relative;
    display:none;
}
.here-map .datalens-error-bg{
    background:url(./default-error-image.png) no-repeat center;
    width:100%;
    height:100%;
}
.here-map #url-path{
    display:inline-block;
}
.here-map #url-path, .here-map #request-params .param-label{
    word-break:break-all;
}

.here-map b, .here-map strong {
    color: black;
}
