.chatbox .mytext{
    border:0;padding:10px;background:whitesmoke;
}
.chatbox .text{
    width:75%;display:flex;flex-direction:column;
}
.chatbox .text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.chatbox .text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.chatbox .text-l{
    float:left;padding-right:10px;
}        
.chatbox .text-r{
    float:right;padding-left:10px;
}
.chatbox .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.chatbox .macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.chatbox .msj-rta{
    float:right;background:whitesmoke;
}
.chatbox .msj{
    float:left;background:white;
}
.chatbox {
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
	position: fixed;
	bottom: 10px;
    left: 10px;
}
.chatbox .frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
.chatbox ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:45px;
    display:flex;
    flex-direction: column;
	max-height: 420px;
	overflow-y: auto;
}
.chatbox .msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.chatbox .msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
.chatbox input:focus{
    outline: none;
}        
.chatbox ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
.chatbox ::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
.chatbox :-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
.chatbox :-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}   