.logo-text-wrap {
	height: 45px;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #6f6f6f;
    padding: 7px;
    border-radius: 6px;
	display: inline-table;
}
.logo-text {
    padding: 7px;
    margin-top: 0px;
    display: block;
	color: #FFFF;
}
/** circle animation**/
.circle-animator-box {
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	margin-left: 0px; 
	margin-top: 0px;
	height: 100%; 
	width: 100%; 
	padding-top: 28.57%; 
	padding-left: 28.57%;
}
.inner-circle-loader {
	border-radius: 50%;
	background-color: #444444;
	position: absolute;
	opacity: 0;
	width: 10.72%; 
	height: 10.72%; 
	margin-top: 16.07%; 
	margin-left: 16.07%; 
	z-index: 1;
	animation-delay: .1s; 
	animation: innerCircleLoader 1s infinite;
}
@keyframes innerCircleLoader {
    0% { transform: scale(1); }
    50% { opacity: .3; transform: scale(2); }
    100% { transform: scale(1); }
}
.outer-circle-box {
	position: absolute;
    height: 150px;
    width: 150px;
}
.outer-circle-loader {
  border-radius: 50%;
  background-color: #6f6f6f; /*deepskyblue;*/
  width: 42.85%; 
  height: 42.85%;
  position: absolute;
  opacity: 0;
  animation: outerCircleLoader 4s infinite cubic-bezier(.36, .11, .89, .32);
}
@keyframes outerCircleLoader {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
/**  **/
.talk-now {
    width: 80px !important;
    position: fixed;
    bottom: 0px;
    right: 5px;
    cursor: pointer;
    z-index: 1000;
}
.talk-now-loader {
	width: 2.4rem !important;
    position: relative;
    top: 10px;
    background: rgba(255, 33, 99, 0.4) !important;
    right: 51px;
}
.talk-now-page {
	padding-top: 80px !important;
    padding-bottom: 100px !important;
}
.talk-now-cancel-btn {
	text-align: center;
}
#talk_now_response {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
	margin: 20px auto 0;
	height: 70px;
}
.highlighted {
	color: #ff6863;
}
.no-scroll {
	overflow: hidden;
}
#qrcode_container {
	width: 270px;
	border: 10px solid white;
	float: right;
	background-color: #FFFFFF;
}
#qrcode_container p {
	margin: 5px;
    font-size: x-large;
    font-weight: bold;
	line-height: initial;
}
.title-text-floated {
	margin-top: 200px;
	float: left;
}
.ld_fancy_heading h1{
	font-size:50px;
	line-height:1.2em;
}
.ld_fancy_heading .ld-fh-txt{
	background:-webkit-linear-gradient(131deg, #ff6348 0.9554140127388535%, #4f50ff 99.36305732484077%);
	background:linear-gradient(131deg, #ff6348 0.9554140127388535%, #4f50ff 99.36305732484077%);
	-webkit-background-clip: text!important;
    background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    text-fill-color: transparent!important;
}
.navbar-header-custom {
	background-color: #252c42 !important;
}
.navbar-header-custom button.navbar-toggle-custom {
	background-color: transparent !important;
	color: #FFFFFF;
}
nav.navbar.bootsnav.navbar-header-custom.white .attr-nav > ul > li > a, 
nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a, 
nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a, 
nav.navbar.bootsnav.navbar-header-custom.white ul.nav > li > a {
	color: #FFFFFF;
}

@media (min-width: 1024px) and (max-width:1400px) {
    #talk {
		padding-top: 120px;
	}
	.here-map {
		height: 300px;
	}
}

@media (min-width: 1024px) {
	#talk {
		padding-top: 95px;
	}
	.here-map {
		height: 300px;
	}
}

@media (max-width: 992px) {
	#talk {
		padding-top: 70px;
	}
	.here-map {
		height: 300px;
	}
}

@media (max-width: 767px) {
	#talk {
		padding-top: 75px;
	}
	.here-map {
		width: 90%;
		height: 370px;
	}
	.here-map #map{
		float: left;
		width: 100%;
		height: 65%;
	}
	.here-map .panel-side {
		height: 0%;
		display: none;
	}
	.here-map .panel-bottom {
		height: 35%;
		display: block;
	}
}

@media (min-width: 480px) and (max-width: 640px) {
	#talk {
		padding-top: 75px;
	}
	.here-map {
		width: 90%;
		height: 370px;
	}
	.here-map #map{
		float: left;
		width: 100%;
		height: 65%;
	}
	.here-map .panel-side {
		height:0%;
		display: none;
	}
	.here-map .panel-bottom {
		height: 35%;
		display: block;
	}
}
.here-map .panel ul li.place {
    height: 95px;
    border: 1px solid black;
    border-radius: 3px;
	cursor: pointer;
	margin-bottom: 3px;
}
.here-map .panel ul li.place:hover {
  background: #32465a;
}
.here-map .panel ul li.place.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
.here-map .panel ul li.place .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
.here-map .panel ul li.place .wrap .meta .name {
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 2px;
}
.here-map .panel ul li.place .wrap .meta .cat {
	margin-bottom: 2px;
}
.here-map .panel ul li.place .wrap .meta .vicinity {
	white-space: nowrap; 
	width: 100%; 
	overflow: hidden;
	text-overflow: ellipsis; 
	margin-bottom: 2px;
}
.here-map .panel-bottom ul {
	white-space: nowrap;
}
.here-map .panel-bottom ul li.place {
    margin-right: 3px;
    width: 300px;
	display: inline-flex;
	height: 100%;
}
.here-map .panel-bottom ul li.place .wrap {
  width: 100%;
  height: 110px;
  margin: 0 auto;
  position: relative;
}
.here-map .panel-bottom .arrow {
	width: 20px;
	height: 100%;
	background-color: #ffff00;
}
.here-map .panel-bottom .arrowL {
	float: left;
	margin-right: 5px;
}
.here-map .panel-bottom .arrowR {
	float: right;
	margin-left: 5px;
}
.here-map .panel-bottom .content {
	float: left;
	width: 98%;
}
#sdkplaybutton, #sdkvideoplaybutton2 {
	display: none !important;
}
.avatar-avatarbox:hover {
	border-color: transparent !important;
}
#notifications-dropdown {
	overflow: auto;
    max-height: 300px;
}
.news-article:hover {
	background-color: #f2f2f2;
}
#avatar-avatar-canvas-div,
#avatar-avatar-image-div,
#avatar-avatar-video-div {
	display: block !important;
	margin: 0 auto !important;
}
.search-btn-custom {
	font-size: 32px;
    line-height: 0;
    padding: 8px 12px;
}
.closeable {
	
}